*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    width: 100%;
    height: 70px;
}

#logo{
    display: flex;
    align-items: end;
}

#logo img{
    width: 25px;
}

#logo h5{
    font-size: 15px;
    margin-left: 10px;
}

#center{
    display: flex;
    gap: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#center a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: 600;
}

#right{
    display: flex;
    align-items: center;
    gap: 30px;
}

#right a{
    text-decoration: none;
    font-size: 12px;
    color: #000;
    font-weight: 700;
}

#right button{
    padding: 10px 22px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
}

#textcenter{
    height: 32%;
    margin-top: 70px;
    text-align: center;
}

#textcenter h1{
    line-height: 1;
    font-size: 90px;
    font-weight: 800;
}

#textcenter p{
    font-weight: 600;
    margin: 20px auto;
    width: 30%;
}

#footer{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    height: calc(100% - (32% + 70px + 70px));
    padding:    40px;
}

.col{
    border-radius: 20px;
    width: 19%;
    height: 100%;
}

#footer .col:nth-child(1){
    padding: 20px;
    background-color: rgb(29, 29, 29);
    color: #fff;
}

#footer .col:nth-child(1) h5{
    opacity: .4;
    font-weight: 500;
}

#footer .col:nth-child(1) h1{
    font-size: 22px;
    font-weight: 500;
}

#footer .col:nth-child(1) .dates{
    display: flex;
    justify-content: space-between;
    background-color: rgb(56, 56, 56);
    margin-top: 20px;
    border-radius: 10px;
}

#footer .col:nth-child(1) .dates .arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

#footer .col:nth-child(1) .dates .date{
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc((80% / 3) - 5px);
}

#footer .col:nth-child(1) .dates .date h4{
    opacity: .7;
}

#footer .col:nth-child(1) .dates .date h2{
    opacity: .7;
}

#footer .col:nth-child(1) .dates .selected{
    background-color: rgb(96, 96, 96);
    border-radius: 10px;
}

#footer .col:nth-child(2){
    height: 70%;
    background-image: url(https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2592&q=80);
    background-size: cover;
    background-position: 0% 70%;
}

#footer .col:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#footer .col:nth-child(4){
    padding: 12px;
    background-color: rgb(191, 159, 223);
    height: 70%;
}

#footer .col:nth-child(4) .row1{
    display: flex;
    align-items: center;
}

#footer .col:nth-child(4) .row1 .image{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url(https://plus.unsplash.com/premium_photo-1664541336896-b3d5f7dec9a3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2787&q=80);
    background-size: cover;
    background-position: center;
}

#footer .col:nth-child(4) .row1 h2{
    margin-left: 10px;
}

#footer .col:nth-child(4) h4{
    margin-top: 10px;
    opacity: .7;
}

#footer .col:nth-child(4) .row1 h5{
    opacity: .4;
    margin-bottom: -5px;
    margin-left: 5px;  
}

#footer .col:nth-child(4) .tile{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: rgb(37, 28, 46);
    border-radius: 10px;
}

#footer .col:nth-child(4) .tile .text{
    color: #fff;
}

#footer .col:nth-child(4) .tile .text h5{
    margin-top: 10px;
    font-weight: 200;
}

.text h5 i{
    opacity: .2;
}

#footer .col:nth-child(4) .tile .badge{
    border-radius: 15px;
    padding: 8px 17px;
    background-color: rgb(194, 227, 206);
}

.badge h3{
    font-size: 20px;
    font-weight: 900;
}

#footer .col:nth-child(5){
    color: #fff;
    overflow: hidden;
    background-image: url(https://images.unsplash.com/photo-1694967336899-d6d8b08932bf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2787&q=80);
    background-size: cover;
    background-position: center;
}

#footer .col:nth-child(3) .top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .col:nth-child(3) button{
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: #fff;
    padding: 12px 40px;
}

#footer .col:nth-child(3) .btm{
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    background-color: rgb(218, 233, 218);    
}

#footer .col:nth-child(5) #overlay{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.481);
}

#footer .col:nth-child(5) h3{
    line-height: 1;
    font-size: 28px;
    font-weight: 600;
}

.btn{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.494);
    border-radius: 10px;
}

.btn i{
    font-size: 40px;
}