*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,body{
    width: 100%;
    height: 100%;
}

#box{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

#left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-image: url(./watch.jpg);
    background-size: cover;
    background-position: center;
}

.elem img{
    width: 20%;
    margin-top: 40px;
}

.elem h2{
    text-transform: capitalize;
    font-weight: 500;
    margin: 10px 0;
    font-size: 20px;
}

.elem h3{
    font-weight: 600;
    opacity: .5;
    font-size: 15px;
    text-transform: capitalize;
}

.elem .links{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.links a{
    color: royalblue;
    font-weight: 600;
    text-decoration: none;
}

.links a:hover{
    text-decoration: underline;
}

#right{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-image: url(./carbon.jpg);
    background-size: cover;
    background-position: center;
}

#right img{
    width: 35%;
}

#right h2{
    text-align: center;
}